# Node
ETCD_NAME="etcd{{ inventory_hostname[-3:] }}"
ETCD_DATA_DIR=/var/lib/etcd
ETCD_HEARTBEAT_INTERVAL=1000
ETCD_ELECTION_TIMEOUT=5000

# Client
ETCD_LISTEN_CLIENT_URLS="https://{{ ansible_host }}:{{ etcd_client_port }},https://127.0.0.1:{{ etcd_client_port }}"
ETCD_ADVERTISE_CLIENT_URLS="https://{{ ansible_host }}:{{ etcd_client_port }}"
ETCD_CLIENT_CERT_AUTH="true"
#ETCD_AUTO_TLS="true"
ETCD_TRUSTED_CA_FILE=/etc/etcd/pki/{{ certificate_ca_name }}.crt
ETCD_CERT_FILE=/etc/etcd/pki/server.crt
ETCD_KEY_FILE=/etc/etcd/pki/server.key.pem

# Peer
ETCD_LISTEN_PEER_URLS="https://{{ ansible_host }}:{{ etcd_peer_port }}"
#ETCD_LISTEN_PEER_URLS="{{ etcd_listen_peer_urls }}"
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{ ansible_host }}:{{ etcd_peer_port }}"
ETCD_PEER_CLIENT_CERT_AUTH="true"
#ETCD_PEER_AUTO_TLS="true"
ETCD_PEER_TRUSTED_CA_FILE=/etc/etcd/pki/{{ certificate_ca_name }}.crt
ETCD_PEER_CERT_FILE=/etc/etcd/pki/peer.crt
ETCD_PEER_KEY_FILE=/etc/etcd/pki/peer.key.pem

# Cluster
ETCD_INITIAL_CLUSTER="{{ etcd_initial_cluster }}"
ETCD_INITIAL_CLUSTER_STATE=new
ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster-01"
#ETCD_SERVERS=10.1.66.30:2379